.main{
	width: 100%;
	height: 650px;
}
.header_part{
	height: 150px;
	background: lightgreen;
}
.middle{
	height: 350px;
	width: 100%;
	background: lightpink;
}
.left_part{
	width : 30%;
	height: 350px;
	background: gray;
	float: left;
}
.middle_part{
	width: 40%;
	height: 350px;
	background: lightblue;
	float: left;
}
.right_part{
	width: 30%;
	height: 350px;
	background: gray;
	float: left;
}
.footer_part{
	height: 150px;
	background: lightgreen;
}