/* h1{
			color: black;
		}
		p{
			font-weight: bold ;
		} */

	/* 	#abc{
			
			color: purple;
			text-align: justify;
		}
		.abc{
			
			color: green;
			text-align: justify;
		}
		*{
			font-size: 20px;

		} */
		/* https://fonts.googleapis.com/css2?family=Pacifico&display=swap */
		h1{
			
			color: blue;
			font-style:normal ;
			font-family: 'anton';

		}
		h2{
			font-family: 'Pacifico', cursive;
		}